#initial{
    height: 100%;
    max-width:100%;
    background-color: rgb(14, 14, 14);
}
#initial #links ul{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
#initial #links ul li{
    display: inline;
    padding: 10px;
    font-weight: 400;
}
#initial a{
    color: white;
    transition: color 1s;
}
#initial a:hover{
    color: rgb(221, 221, 221);
    transition: color 1s;
}
#initial #orc_btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2ecc71;
    color: aliceblue;
    font-weight: 500;
    border-radius: 20px;
    transition: background 0.5s;
}
#initial a:hover{
    text-decoration: none;
}
#initial a:visited{
    text-decoration: none;
}

#initial #orc_btn:hover{
    background-color: #27ae60;
    transition: background 0.5s;
}

#contact{
    text-align: center;
    font-size: 20px;
    color: white;
    
}
#contact a{
    color: #8e44ad;
    font-weight: bold;
}
#contact #rl{
    height: 50vh;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    #contact{
        font-size: 30px;
    }
    #contact a{
        font-size: 20px;
    }

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }